<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Sitecore.Binaries.Core" version="8.0.0.140820" targetFramework="net45" />
  <package id="ZeroProximity.DeviceDetection" version="1.0.0.2" targetFramework="net45" />
</packages>